<div class="container">

  <h3 class="center">Questions</h3><br>

  <% collapse_count = 1 %>

  <% @questions.each do |question| %>


    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to question["text"], "/questions/#{question["id"]}" %>
          <a class="btn-flat btn-sm btn-blue collapsed" style="margin-left:8px;cursor:pointer;" data-target=<%= "#collapse#{collapse_count}" %> data-toggle="collapse">
            Reveal
          </a>
        </h4>
      </div>
      <div id=<%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
        <div class="panel-body">
          <% if question["answers"][0] %>
            <%= question["answers"][0]["text"] %>
          <% end %>

        </div>
      </div>
      
    </div>
    </div>
    <% collapse_count += 1 %>

  <% end %>

<br>



</div class="container">