<div class="prettyform">
  <div class="container lend">
    <div class="box">
      <h2 class="center">New Question</h2>
      <br>
        <%= form_for(@question) do |f| %>
          <%= f.text_field :text, placeholder: 'Question',  class: 'form-control' %>

          <%= f.submit "Submit question", class: 'btn-flat btn-blue col-centered' %>
        <%end%>
      
    </div>
  </div>
</div>
