// COLORS
$pink: #d8266a;
$pink-lighter: #dd3b79;
$pink-darker: #c32260;

$turq: #00a895;
$turq-lighter: #00c2ac;
$turq-darker: #008f7e;
$turq-xdark: #007668;

$fb-darker: #354F88;
$fb: #3B5998;
$fb-lighter: #4c70ba;

$blue-reg: #55acee;
$blue-hover: #6FC6FF;
$blue-shadow: #3C93D5;

// FONTS
$script: 'Rochester', script;
$base: 'Lato', sans-serif;
$headers: 'Raleway', sans-serif;
