.btn-flat {
  border-radius: 5px;
  padding: 0.6vw 1.6vw;
  font-size: 1.3vw;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  border:none;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
}

.btn-blue {
  background-color: $blue-reg;
  box-shadow: 0px 5px 0px 0px $blue-shadow;
  &:hover {
    background-color: $blue-hover;
  }
}

.btn-success {
   box-shadow: 0px 3px 0px 0px $green-shadow;
   text-decoration: none;
   background: $green-reg;
 }




.btn-pink {
  background-color: $pink;
  box-shadow: 0px 3px 0px 0px $pink-darker;
  text-decoration: none;
  &:hover {
    background-color: $pink-lighter;
    text-decoration: none;
  }
}

a.btn {
  color: white;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
  padding: 6px 12px;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: $green-hover;
  border-color: $green-hover;
  text-decoration: none;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background: $green-reg;
  border-color: $green-reg;
  text-decoration: none;
}

.btn-sm {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  margin: 4px;
  border-radius: 3px;
  .btn-blue {
    box-shadow: 0px 2px 0px 0px $blue-shadow;
  }
}

.btn-xl {
  padding: 0.6vw 1.6vw;
  font-size: 1.3vw;
  margin: 10px;
}