@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,200,700,800);

body {
  background-color: #f0f0f0;
  font-family: $base;
  color: $gray;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color:$blue-reg;
      text-decoration: none;
    }
  }
  h1 {
    font-family: $headers;
    font-weight: 700;
    font-size: 3vw;
  }
  h2 {
    font-family: $headers;
    font-weight: 400;
    font-size: 2.5vw;
  }
  h3 {
    font-family: $headers;
    font-weight: 400;
  }

}

a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.valign {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; /* align horizontal */
  -webkit-align-items: center;
  align-items: center; /* align vertical */
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.box {
  background: #fff;
  //margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

}

.spacer6 {
    height: 6vw;
  }
.spacer3 {
    height: 3vw;
  }

.spacer_nav {
  height: 51px;
}

.hline-w {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 25px;
}

.navbar-inverse {
  background-color: $blue-reg;
  border-color: $blue-reg;
  margin-bottom: 0;
  .container-fluid {
    margin-left: 30px;
    margin-right: 20px;
  }

}

.navbar-inverse .navbar-nav > li > a {
  color: white;

}

.navbar-inverse .navbar-brand {
color: white;
font-family: $headers;
font-weight: 900;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}






.one-edge-shadow {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.3);
}

.text-glow-hover{
  color: #fff;
  transition: text-shadow 0.3s ease-in-out;
  &:hover {
    text-shadow: 0 0 10px white;
  }
}

.text-grow-hover{
  transition: font-size 0.3s ease-in-out;
  &:hover {
    font-size: inherit + 10px;
  }
}

/* Effect 3: bottom line slides/fades in */
// .cl-effect-3 a {
//   padding: 8px 0;
// }

.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0,0,0,0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}


